body {
background-color: antiquewhite;
color: black;
}

.startdiv {
position: absolute;
left: 10%;
right: 10%;
top: 20%;
bottom: 20%;
padding:10%;
border-color: black;
border: solid;
text-align: center;
}

a {
    text-decoration: none;
    border: solid;
    padding: 10px;
    border-radius: 100%;
    border-color: black;
    color: black;

}

a:hover {
    text-decoration: underline;
}