body {
    background-image: url("background.jpg");
    height: 100%;
}

.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(194,194,194, 0.4);
    border-radius: 15px;
}