body {
background-color: rgb(151, 199, 155);
color: rgb(102, 29, 29);
font-size: 150%;
}

.startdiv {
position: absolute;
left: 5%;
top: 0%;
margin: 5%;
padding-bottom:30%;
background-color:rgb(255, 255, 255);
}
