html {
    height: 100%;
}

body {
    display: flex;
    background-image: url("background/background.jpg");
    height: 100%;
    align-items: center;
    margin: 0;
    background-repeat: repeat;
}

.maindiv {
    width: 90%;
    height: 90%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.questiondiv {
    background-color: rgba(194,194,194, 0.7);
    border-radius: 15px;
    flex: 1;
    display: flex;
}

h1 {
    color: white;
    padding-bottom: 10px;
}

#question-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.question-button {
    margin: 10px;
    margin-bottom: 10%;
    padding: 10px;
}

.top-question-div {
    flex: 1;
}